name: Docker Prod x86
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'exapi/**'

jobs:
  build:
    name: Build & Push Prod Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: jam06452
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-buildx-action@v3

      - uses: docker/build-push-action@v5
        with:
          context: ./exapi
          push: true
          tags: ghcr.io/jam06452/url_shortener:latest
